p{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	height: 100%;
	float: left;
}

/* Basic sections of the board*/

#sub_chat_bar{
	position: relative;
	width: 100%;
	height: 100%;
	
}

#container{
	position: fixed;
	width: 800px;
	height: 500px;
	/*float: left;*/
	background-color: #006600;
	left: 0px;
	top: 0px;
}

#chat_bar{
	position: absolute;
	width: 250px;
	height: 700px;
	float: left;
	background-color: #993300;
	top: 0px;
	left: 800px;
}
#hand{
	position: absolute;
	width: 650px;
	height: 200px;
	left: 0px;
	top: 500px;
	background-color: blue;
}
#context_menu{
	position: absolute;
	width: 150px;
	height: 200px;
	top: 500px;
	right:0px;
	background-color: grey;
}



/********* Card Styles
**********************************************/
.card{
	height: 150px;
	width: 90px;
	border: 1px solid red;
	background-color: white;
}
.card2{
	
}

.card2 img{
	height:100px;
}

.card_top_num{
	width: 100%;
	height: 15%;
	text-align: left;
}

.card_main{
	width: 100%;
	height: 70%;
}

.card_bot_num{
	width: 100%;
	height: 15%;
	text-align: right;
}



/************ Card Form
******************************************/
#make_card{
	width: 500px;
	height: 100px;
	float: left;
}

#card_form{
	width: 400px;
	height: 80px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

/*** CHAT INTERFACE ***/

#chat-area{
	background-color:white;
	position:relative;
	width:75%;
	height:50%;
	left:5%;
}

#send-message-area{
	position:relative;
	left:5%;
}
#sendie{
	resize:none;
}