
*                               { margin: 0; padding: 0; }
body                            { font: 12px "Times New Roman", Serif; background-color: #484848; }
h2                              { color: #fa9f00; font: 30px Helvetica, Sans-Serif; margin: 0 0 10px 0; }
#page-wrap                      { width: 100%; margin: 30px auto; margin-left:5px; }

#chat-wrap                      { border: 1px solid #eee; margin: 0 0 0 0; }
#chat-area                      { height: 200px; overflow: auto; border: 1px solid #666; padding: 20px; background: white;}
#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

#name-area                      { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }   
#name-area span                 { color: #fa9f00; }

#send-message-area p            { width: 100%; resize: none; float: left; color: #fa9f00; padding-top: 27px; font-size: 14px; }
#sendie                         { resize: none; border: 1px solid #999; width: 100%; padding: 8px; font: 12px "Lucida Grande", Sans-Serif; float: left; }